/* CSS Page to control the colour scheme */

header h1{
  color: #f0ecec;
}

/* changes colour of the header */
#wrapper {
  background-color:#123C69 ;
}

/* background body colour */
body {
  color: #887455;
}


.first-section{
  color: #800020;
  background-color: #bea5a9;
}

/* modules of cs classes */
.devices{
  color:  #800020;
  background-color: #bea5a9;
}

.internet{
  color:  #800020;
  background-color: #bea5a9;
}

.foundations{
  color:  #800020;
  background-color: #bea5a9;
}

.java{
  color:  #800020;
  background-color: #bea5a9;
}

.machines{
  color:  #800020;
  background-color: #bea5a9;
}

.software-engineering{
  color: #bea5a9;
}

.software-engineering p{
  color: #800020;
}

.gallery{
  background-color:#404756;

}


/* welcome text colour */
.welcome{
  color: #800020;/*#873c0d; */
  background-color: #bea5a9;#bea5a9
}


/* 1st section heading colour */
.container h2 {
  color: #472d30;
}

.maximum_width{
  background-color: #bea5a9;
}


/*actual background colour*/
.container{
  background-color: #bea5a9;
}
/* creamish nav bar */
.navigation_box nav {
  background-color: #ffeecb;
}
/* nav box font colour */
a{
  color: #652537;
}

/* Legality + Security classes*/
.legality{
  background-color: #bea5a9;
  color: #800020;
}

.legality h3{
  color: #123c69;;
}

.security{
  background-color: #bea5a9;
  color: #800020;
}

/* sga page classes */
.sga h3{
  color: #123C69;
}

.my-experience h3{
  color: #123c69;
}

/* Quiz page classes */
.question-box{
  color: #800020;
}

.answer-box{
  background-color: #404756;
}

/* accessibility classes */
.accessibility-statement{
  background-color:#bea5a9;
  color: #800020;
}

footer p{
  background-color: #123c69;
  color: #ffeecb;
}

/* Design page classes */
.design-introduction{
    background-color: #bea5a9;
}

.site-map p{
  color: #800020;
}

.design-introduction p{
  color: #800020;
}

.design-mockups p{
  color: #800020;
}

.breakpoints h3{
  color: #123C69;
}

.breakpoints {
  color: #800020;
}

.optimisation {
    background-color: #bea5a9;
    color: #800020;
}

.optimisation h3{
  color: #123C69;
}

/* contact page classes */
.contact-details ul{
    color: #800020;
}

.contact-details h3 {
  color: #123C69;
}

.main-form h3{
  color: #ffeecb;
}

.main-form{
  background-color: #472d30;
}
.main-form li{
  color: #ffeecb;
}

.question-box ul{
  color: #123C69;
}

/* Testing page classes */
.debugging p{
  color: #800020;
}

.debugging h3{
  color: #123C69;
}

.browser-testing{
  color: #800020;
}

.accessibility-testing{
  color: #800020;
}

main figcaption{
  color: #ffeecb;
}

main figcaption a{
  color: #ffeecb;
}

.site-map figcaption{
  color: #800020;
}

.responsive-design p{
  color: #800020;
}
